<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>MEF-Portfolio</title>
</head>
<body>

<header>
</header>

<div class="container">
    <div class="col-xl">
        <div id="chart" ></div>
        <script type="module">
            import donutChart from './static/main.js'

            var json = await fetch('/data')
                .then(function (response) {
                    return response.json(); // But parse it as JSON this time
                })
                .then(function (json) {
                    console.log(json);

                    var timerInterval = 1500;

                    var donut = donutChart()
                        .width(960)
                        .height(500)
                        .transTime(1000) // length of transitions in ms
                        .cornerRadius(3) // sets how rounded the corners are on each slice
                        .padAngle(0.015) // effectively dictates the gap between slices
                        .variable('pct')
                        .category('sector');

                    var i = 0;

                    d3.select('#chart')
                                .call(donut); // draw chart in div

                    var timer = setInterval(function() {
                        if (i === 10) { //BUG - fix upper limit
                            // get new backend data
                            i = 0;
                            clearInterval(timer);
                        }
                        console.log(json["bySector"]);
                        donut.data(json["bySector"]);
                        i++;
                    }, timerInterval);

                });
        </script>
    </div>
</div>



</body>
</html>