<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <title>MEF-Portfolio</title>
</head>

<body>
    <header>
    </header>
    <div id="chart" class="chart"></div>
    <script type="module">
        import donutChart from './static/main.js';

        var json = fetch('/data')
            .then(function (response) {
                return response.json(); // parse as JSON
            })
            .then(function (json) {
                var donut = donutChart()
                    .width(1380)
                    .height(400)
                    .transTime(200) // length of transitions in ms
                    .cornerRadius(1) // sets how rounded the corners are on each slice
                    .padAngle(0.015) // effectively dictates the gap between slices
                    .variable('pct')
                    .category('sector')
                    .variableInner('pct')
                    .categoryInner('name');
                donut.data(json);
                d3.select('#chart').call(donut); // draw chart in div
            });
    </script>
</body>

</html>